html:has(.main-container) {
    overflow:hidden;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* margin:-10px; */
    /* overflow: hidden; */
}

@media (max-width:768px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        margin:-10px;
    } 

}

.main-container .sidepanel {
    height:100vh;
}

.main-container .mainpanel {
    background:var(--bg);
    height:100vh;
    position:relative;
}

.main-container .rightpanel {
    height:100vh;
    position:relative; 

    .quicksets {
        position:absolute;
        bottom:1em;
        right:1em;
        display: flex;
        width:calc(100% - 2em);

        .left {
            margin-right: auto;
            font-family: Material Icons;
        }

        .right {
            margin-left: auto;
        }
        }

}

@media (max-width: 768px) {
    .main-container .rightpanel .quicksets {
        display: none !important;
    }
}

.main-container .maintopbar{
    width:100%;
    max-height:5em;
    position:absolute;
    z-index: 10000;
    top:0;

    margin-top:-10px;

    padding:5px;

    backdrop-filter: blur(25px);
    background:color-mix(in srgb, var(--bg) 50%, transparent 50%);
    box-shadow: 0 0 20px var(--text-op-sh);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .selection {
        padding:20px 0 20px 0;   
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        border-radius: 1rem;
        font-size:120%;
        margin-left:5px;

        font-family: Grotesk;
        margin-right:5px;

        span {
            font-family: Material Icons;
            margin-right:.5em;
        }

        &.active {
            background:var(--eiffel);
            color:white;
            animation: bounce-in 0.2s;
        }
    }
}

@media (max-width:768px) {
    .maintopbar {
        .selection {
            margin-left:0 !important;
            margin-right: 0 !important;
            font-size: clamp(0.9em, 2.5vw, 1em) !important;
            max-width: 100%;
            margin-top:15px !important;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            span {
                display: none !important;
            }
        }
    }
}

@keyframes bounce-in {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    60% {
        transform: scale(1.05);
        opacity: 1;
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.main-container .mainbotbar {
    overflow-y: scroll;
    max-height:calc(100vh - 6em);
    padding-top:6em;
    /* padding-bottom:3em; */
    scrollbar-width: thin;
    scrollbar-color: var(--accent-op-30) transparent;
}



/* For Webkit browsers */
.main-container .mainbotbar::-webkit-scrollbar, .sortie-container::-webkit-scrollbar {
    width: 4px;
}

.main-container .mainbotbar::-webkit-scrollbar-thumb, .sortie-container::-webkit-scrollbar {
    background: var(--accent-op-30);
    border-radius: 2px;
}

.main-container .mainbotbar::-webkit-scrollbar-track, .sortie-container::-webkit-scrollbar {
    background: transparent;
}


.sortie {
    background:var(--high);
    border-radius: 1rem;
    padding:10px;
    box-shadow: 0 2px 8px rgba(60, 60, 120, 0.06), 0 1px 4px rgba(30, 30, 60, 0.08);
    position:relative;

    padding-bottom:2em;

    .title {
        font-weight: 500;
        font-size:1.3em;
    }

    .theme {
        color:var(--text-op-min);
        font-style: italic;
        margin:1em 0 1em 0;
    }

    .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        white-space: normal;
        text-overflow: ellipsis;

        margin-bottom: 3em;
    }

    .bottom-info {
        /* position:absolute; */
        bottom:0;
        width:100%;
        left:0;
    }

    .icons {
        width:100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        margin-bottom:1em;
        gap:1em;

        span {
            display: flex;

            a {
                font-family: Material Icons;
                user-select: none;
                margin-right:1em;
            }
        }
    }

    .location {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    .location a {
        font-family: Material Icons;
        margin-right:1em;
        user-select: none;
        color:var(--red);
    }

    .location span {

    }

    .see-more {
        border-radius: 10px;
        background:var(--eiffel);
        padding:.7em;
        cursor:pointer;
        display: flex;
        align-items: center;
        transition-duration:.2s;
        color:white;
        user-select: none;
        
        bottom:0;
        left:0;
        position:absolute;
        width:calc(100% - 1.4em);


        &:hover {
            opacity:.8;
        }

        a {
            font-family: Material Icons;
            margin-right: 1em;
        }
    }
}



.sortie-container {
    max-height:calc(100vh - 15em);
    padding-bottom:2em;
    padding-top:7em;
    gap:1em;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-op-30) transparent;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    border-radius: 1rem;

}




.fancy-title {
    font-family: Copernicus;
    text-align: center;
    font-size:1.5em;
    margin:1em;
}

.search-bar {

    background:color-mix(in srgb, var(--high) 50%, transparent 50%);
    border-radius: 5px;
    width:100%;
    backdrop-filter:blur(15px);

    /* margin:20px; */
    margin-bottom:0;
    overflow-x: scroll;
    overflow: hidden;
    padding-left:5px;
    display: flex;
    align-items: center;
    padding-right:5px;

    border:1px solid var(--text-op-fr);

    input {
        outline:none;
        padding:10px;
        border:none;
        background:transparent;
        width:100%;
        overflow-x:scroll;
        caret-color: var(--plex);
    }

    span {
        font-family: Material Icons;
        user-select: none;
        color:var(--text-op-min)
    }

}

.app.dark .search-bar{
    background:var(--sidebar);
    box-shadow: none;
    input{
        color:white;
    }
}


.search-options {
    position:absolute;
    width:100%;
    z-index:10000;

    .search-filters {
        width:100%;

        background:color-mix(in srgb, var(--high) 50%, transparent 50%);
        border-radius: 5px;
        backdrop-filter:blur(15px);
        padding:5px;

        border:1px solid var(--text-op-fr);

        margin-top:5px;
    }    

    select {
        background: var(--low);
        border-radius: 5px;
        border: none;
        box-shadow: none;
        font-size:.8em;
        color:var(--text-op-min);
    }
}

.search-filters > span {
    display: flex;
    align-items: center;
    margin-bottom:.5em;

    & > a {
        margin-right:.5em;
        color:var(--text-op-min);
        font-size:.8em;
    }
}

.map-container {
    border-radius: 1rem;
    width:calc(100% - 2em);
    height:200px;
    background:#b2d2dd;
    margin:1em;

    img {
        pointer-events: none;
        width: 100% !important;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}

.option-selector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    background:color-mix(in srgb, var(--high) 50%, transparent 50%);
    border:1px solid var(--text-op-fr);

    div {
        padding:1em;
        cursor:pointer;
        user-select: none;
        transition-duration: .2s;

        display: flex;
        align-items: center;

        span {
            font-family: Material Icons;
            margin-right:1em;
        }

        &:active {
            transform:scale(0.90);
        }

        &.selected {
            border-bottom: 1px solid;
        }
    }
}

.search-bar.biocodex {
    background:color-mix(in srgb, var(--high) 50%, transparent 50%) !important;
    margin-top:5px;
    border-radius: 1rem;
    width:calc(100% - 1em);
}

.pages-display {
    grid-column: 1 / -1; 
    grid-row: auto;  
    display: flex; 
    align-items: center;
    justify-content: center;

    div.arrow {
        font-family: Material Icons;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        color:grey;
        /* font-size:.9em; */
        background:transparent;
        height:2.5em;
        width:2.5em;
    }

    div.empty {
        height:.5em;
        width:.5em;
        margin:1em;
        aspect-ratio: 1 / 1;
        background:grey;
        /* margin:1.5em; */
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height:2.5em;
        width:2.5em;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        font-size:.7em;
        user-select: none;
        cursor:pointer;
        border: 1px var(--text-op-sh);
        background:var(--high);


        &.active {
            background:var(--eiffel);
            color:white;
        }
    }
}

.img-specie {
    max-width: 100%;
    border-radius: 15px;
}