html:has(.main-container) {
    overflow:hidden;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin:-10px;
    /* overflow: hidden; */
}

.main-container .sidepanel {
    height:100vh;
}

.main-container .mainpanel {
    background:var(--bg);
    height:100vh;
    position:relative;
}

.main-container .rightpanel {
    height:100vh;
    position:relative; 

    .quicksets {
        position:absolute;
        bottom:1em;
        right:1em;
        display: flex;
        width:calc(100% - 2em);

        .left {
            margin-right: auto;
            font-family: Material Icons;
        }

        .right {
            margin-left: auto;
        }
        }

}

.main-container .maintopbar{
    width:100%;
    height:5em;
    position:absolute;
    top:0;
    backdrop-filter: blur(25px);
    background:color-mix(in srgb, var(--bg) 50%, transparent 50%);
    box-shadow: 0 0 20px var(--text-op-sh);
    padding:5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .selection {
        padding:20px;   
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        border-radius: 25px;
        font-size:120%;
        font-family: Grotesk;
        margin-left:20px;
        margin-right:20px;

        span {
            font-family: Material Icons;
            margin-right:1em;
        }

        &.active {
            background:var(--eiffel);
            color:white;
            animation: bounce-in 0.2s;
        }
    }
}

@keyframes bounce-in {
    0% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    60% {
        transform: scale(1.05);
        opacity: 1;
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.main-container .mainbotbar {
    overflow-y: scroll;
    max-height:calc(100vh - 9em);
    padding-top:6em;
    padding-bottom:3em;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-op-30) transparent;
}

/* For Webkit browsers */
    .main-container .mainbotbar::-webkit-scrollbar {
        width: 4px;
    }

    .main-container .mainbotbar::-webkit-scrollbar-thumb {
        background: var(--accent-op-30);
        border-radius: 2px;
    }

    .main-container .mainbotbar::-webkit-scrollbar-track {
        background: transparent;
    }


.sortie {
    background:var(--light-pure-low);
    border-radius: 1rem;
    padding:10px;
    margin:10px;
    box-shadow: 0 2px 8px rgba(60, 60, 120, 0.06), 0 1px 4px rgba(30, 30, 60, 0.08);

    .title {
        font-weight: 500;
        font-size:1.3em;
    }

    .theme {
        color:var(--text-op-min);
        font-style: italic;
    }
}

.app.dark .sortie {
    background:var(--dark-low);
}

@media (min-width: 769px) {
    .sortie-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}